@media (min-width: 1344px) {
  .UnderlineNav-body {
    margin: 0 auto;
    width: 1280px;
    padding: 0 32px;
  }

  /* Repository page*/
  .d-block.d-md-none.mb-2.px-3.px-md-4.px-lg-5
    + .UnderlineNav
    > .UnderlineNav-body {
    padding: 0 32px;
  }
}
